{% extends 'base.html' %} {% block title %}Feedback{% endblock %} {% block
content %}

<h1>Feedback Form</h1>
<hr />
<div class="row">
  <form method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="form-group">
      {{field.label}} {{field(class_="form-control")}} {% for err in
      field.errors %}
      <small class="form-text text-danger"> {{err}} </small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success btn">Submit</button>
    <a href="/users/{{username}}" class="btn btn-secondary btn">Go Back</a>
  </form>
</div>
{% endblock %}
